<%
	template_options = {} if (defined? template_options == nil)
	template_id = template_options[:template_id] || "book-list-template"
	collection_name = template_options[:collection_name] || "books"
	allows_voting = template_options[:voting] || false
	allows_rejection = template_options[:allows_rejection] 

	voting_column_size = allows_voting ? 1 : 0
	main_column_size = 12 - voting_column_size	

	rejection_column_size = allows_rejection ? 3 : 0
	title_column_size = 9 - rejection_column_size
%>

<script id="<%= template_id %>" type="text/x-handlebars-template">
{{#each books}}
<li class="row book-listing" 
	data-id="{{book_id}}" 
	data-title="{{title}}" 
	<% if allows_voting %>
	data-votes="{{votes}}" 
	data-user-vote="{{user_vote}}" 
	<% end %> >


	<% if allows_voting %>
	<div class="col-sm-<%=voting_column_size%>" style="font-size: 125%">

	</div>
	<% end %>

	<div class="col-sm-<%=main_column_size%>">
		<div class="row">
			<div class="col-sm-2">
				{{#if image_url}}
				<a href="{{book_url}}"><img class="book-image" src="{{image_url}}"/></a>
				{{/if}}
			</div>
			<div class="col-sm-offset-1 col-sm-<%=title_column_size%>">
				<div class="row">
					<div class="col-xs-12 book-title"><a href="{{book_url}}">{{title}}</a></div>
				</div>
				<div class="row">
					<div class="col-xs-12 book-author">{{author}}</div>
				</div>
			</div>
			<% if allows_rejection %>

			<% end %>
		</div>
		<div class="row">
			<div class="col-sm-offset-7 col-sm-5 book-date-added" title="{{date_added_formatted}}">
				Added {{age_statement}}
			</div>
		</div>
	</div>
</li>
{{/each}}
</script>