<% content_for :extra_css do %>
<link rel="stylesheet" type="text/css" href="/stylesheets/book_add.css" />
<% end %>

<% content_for :extra_javascript do %>
<script src="/javascripts/book_add.js"></script>
<% end %>

<div class="container">
	<div class="row">
		<div class="col-xs-12 page-title"><div>Nominate a book</div></div>
	</div>
	<form class="form-horizontal">
		<div class="form-group">
			<div class="col-sm-2" style="text-align: right"><label class="sr-only control-label">Goodreads Search</label><img id="goodreads-search-spinner" class="invisible" src="/images/spinner.gif" style="max-height: 32px"/></div>
			<div class="col-sm-10"><input class="form-control" id="goodreads-search-input" placeholder="Goodreads Search"/></div>
		</div>
	</form>

	<form class="form-horizontal">
		<div id="add-book-title-group" class="form-group">
			<label class="col-sm-2 control-label">Title</label>
			<div class="col-sm-10"><input class="form-control" id="add-book-title"/></div>
		</div>
		<div id="add-book-author-group" class="form-group">
			<label class="col-sm-2 control-label">Author</label>
			<div class="col-sm-10"><input class="form-control" id="add-book-author"/></div>
		</div>
		<div id="add-book-summary-group" class="form-group">
			<label class="col-sm-2 control-label"><img id="summary-spinner" class="invisible" src="/images/spinner.gif" style="max-height: 24px"/>Summary</label>
			<div class="col-sm-10"><textarea class="form-control" id="add-book-summary" rows="7"></textarea></div>
		</div>
		<div id="add-book-external-url-group" class="form-group">
			<label class="col-sm-2 control-label">More Info URL</label>
			<div class="col-sm-10"><input class="form-control" id="add-book-external-url"/></div>
		</div>
		<div id="add-book-image-url-group" class="form-group">
			<label class="col-sm-2 control-label">Image URL</label>
			<div class="col-sm-9"><input class="form-control" id="add-book-image-url"/></div>
			<div class="col-sm-1" id="book-image-preview"></div>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-8">
				<button class="btn btn-default" id="add-book-save-button">Save</button>
			</div>
			
		</div>
	</form>
<div>