<% content_for :extra_css do %>
<link rel="stylesheet" type="text/css" href="/stylesheets/books.css" />
<% end %>

<% content_for :extra_javascript do %>

<script src="/javascripts/book_list_component.js"></script>

<script type="text/javascript">
	$(document).ready(function () {
		$("#book-list-read").bookList({
			getUrl: "/books/read.json"
		});

		$("#book-list-unread").bookList({
			getUrl: "/books/unread.json"
		});

		<% if false %>
		$("#book-list-rejected").bookList({
			getUrl: "/books/rejected.json"
		});
		<% end %>
	});
</script>
<% end %>

<div class="container">
	<div class="row">
		<div class="col-sm-12 page-title"><div>Books</div></div>
	</div>

	<div class="row">
		<div class="col-sm-12 content-title"><div>For Future Consideration</div></div>
	</div>

	<ul id="book-list-unread" class="book-list">
		<img class="spinner" src="/images/spinner.gif"/>
	</ul>

	<div class="row">
		<div class="col-sm-12 content-title"><div>Read</div></div>
	</div>

	<ul id="book-list-read" class="book-list">
		<img class="spinner" src="/images/spinner.gif"/>
	</ul>

	<% if false %>
	<div class="row">
		<div class="col-sm-12 content-title"><div>Rejected</div></div>
	</div>

	<ul id="book-list-rejected" class="book-list">
		<img class="spinner" src="/images/spinner.gif"/>
	</ul>
	<% end #end "comment out" %> 
</div>