body {
	color: #130f30;
}

.container {
	margin-bottom: 30px;
}

.edit-buttons, .delete-button {
	margin-bottom: 15px;
}

.hidden {
	display: none;
}

.invisible {
	visibility: invisible;
}

img.site-logo {
	max-width: 25px;
	display: inline;
}

#page-spinner, .page-spinner {
	max-height: 24px;
	margin-bottom: 5px;
	margin-right: 5px;
}

.spinner {
	max-height: 24px;
	margin-bottom: 5px;
	margin-right: 5px;	
}

.page-title {
	> div {
		font-size: 215%;
		font-weight: bold;
		color: #ccc;
		margin-bottom: 15px;
	}
}

.sidebar-title, .content-title {
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #ccc;
	margin-bottom: 15px;

	> div {
		display: inline-block; 

		font-size: 165%;
		font-weight: bold;
	}

	> .title-button {
		display: inline-block;
		margin-right: 15px;
	}
}

#main-content {
	
}

ul.book-list, ul.meeting-list {
	list-style: none;
	list-style-type: none;
	padding: 0;
	margin: 0;

	li.meeting, li.book-listing {
		list-style: none;
		list-style-type: none;			
	}

	li.meeting {
		margin-bottom: 15px;
	}
	
	.meeting-date {
		font-weight: bold;
	}
}

ul.book-list {
	margin-bottom: 60px;

	button.action-button {
		width: 100%;
		margin-top: 5px;
	}
}

.book-listing {
	margin-bottom: 15px;
	padding-top: 7px;
	padding-bottom: 8px;

	border-color: #ccc;
	border-style: solid;
	border-width: 0px;
	border-radius: 5px;
}

.book-listing:nth-child(odd) {
	background-color: #f5f5f5;
}

.book-listing:nth-child(even) {
	background-color: #fdfdfd;
}

.book-image {
	max-height: 100px;
}

.book-title {
	font-size: 140%;
	font-style: italic;
	margin-bottom: 3px;
}

.book-author {
	font-size: 115%;
}

.book-date-added {
	text-align: right;
	font-size: 85%;
}

.meeting-book-image {
	img {
		max-height: 128px;
	}
}