body {
	color: #130f30;
}

.invisible {
	visibility: invisible;
}

.page-title {
	> div {
		font-size: 215%;
		font-weight: bold;
		color: #ccc;
		margin-bottom: 15px;
	}
}

.sidebar-title, .content-title {
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #ccc;
	margin-bottom: 15px;

	> div {
		display: inline-block; 

		font-size: 165%;
		font-weight: bold;
	}

	> .title-button {
		display: inline-block;
		margin-right: 15px;
	}
}

#main-content {
	.book-listing {
		margin-bottom: 15px;
		padding-top: 7px;
		padding-bottom: 8px;
	}

	.book-listing:nth-child(even) {
		background-color: #f7f7f7;
	}

	.book-image {
		max-height: 100px;
	}

	.book-title {
		font-size: 145%;
		font-style: italic;
		margin-bottom: 3px;
	}

	.book-author {
		font-size: 125%;
	}
}