.vote-button:not(.vote-selected) {
	color: black;
}

.vote-button.vote-selected {
	color: "#337ab7"
}

.book-reject-button, .book-select-button {
	width: 100%;
}

.book-reject-button {
	margin-bottom: 5px;
}

.book-cover {
	img {
		max-width: 128px;
	}
}

.summary {
	margin-bottom: 30px;
}

.meeting-date {
	> div {
		display: inline;
	}
}

#meeting-date-group, #meeting-time-group, #meeting-date, #meeting-time {
	display: inline;
}

#meeting-location-group {
	display: block;
}

#edit-meeting-date {
	width: 100px;
	display: inline;
}

#edit-meeting-time {
	width: 100px;
	display: inline;
}

#edit-meeting-location {
	width: 220px;
	margin-top: 15px;
	display: block;
}

#main-content {
	overflow: hidden;
}

.book-list {
	.overlay {
		position: absolute;
		left: -15px;
		top: 0px;
		height: 100%;
		width: 200%;

		background-color: #232323;
		opacity: 0;
		transition: all 0.5s;
		-webkit-transition: all 0.5s;
	}

	.overlay.on {
		opacity: 0.4;
	}
}

#search-results {
	display: block;
	position: absolute; 

	height: 80%;
	width: 86%;

	left: 7%;
	top: 10%;

	background-color: #f8f8f8;

	border-color: #e7e7e7;
	border-width: 2px;
	border-style: solid;
	border-radius: 15px;

	padding: 15px;

	overflow: auto;

	#search-results-close-container {
		text-align: right;
		margin-bottom: 15px;
	}

	.search-listing {
		margin-bottom: 15px;
		padding-top: 7px;
		padding-bottom: 8px;

		img {
			max-width: 100px;
		}
	}

	.search-listing:nth-child(even) { 
		background-color: #e7e7e7;
	}

	.search-title {
		font-size: 125%;
		font-weight: bold;
	}

	.search-author {
		font-size: 115%;
		font-style: italic;
	}
}