.vote-button:not(.vote-selected) {
	color: black;
}

.vote-button.vote-selected {
	color: "#337ab7"
}

.book-reject-button, .book-select-button {
	width: 100%;
}

.book-reject-button {
	margin-bottom: 5px;
}