nav#main-navigation {
	.avatar {
		max-height: 32px;
		padding-right: 15px;
	}

	#nav-signin-dropdown {
		.dropdown-menu {
			padding: 15px;
		}

		#button-facebook-signin {
			display: block;
			margin-bottom: 15px;
		}

		#button-google-signin {
			filter: grayscale(70%);
			-webkit-filter: grayscale(70%);
			opacity: 0.8;
		}
	}
}