<nav id="main-navigation" role="navigation" class="navbar navbar-default">
	<div class="navbar-header">
		<button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
			<span class="sr-only">Toggle Navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a href="<%= $config.make_url(@page_state[:request]) %>" class="navbar-brand">
			<img class="site-logo" src="/images/favicomatic/favicon-196x196.png"/>
			<%= $config[:general][:site_name] %></a>
	</div>

	<div id="navbarCollapse" class="collapse navbar-collapse">
	<% if @session_state[:show_admin] %>
		<ul class="nav navbar-nav">
			<li class="dropdown" id="nav-admin-dropdown">
				<a class="dropdown-toggle" href="#" data-toggle="dropdown">Admin Tools</a>
				<div class="dropdown-menu">
					<a id="button-admin-moderate-users" href="/admin/moderate/users">Moderate Users</a>
				</div>
			</li>
		</ul>
	<% end %>

	<ul class="nav navbar-nav">
		<li><a href="/meetings">Meetings</a></li>
	</ul>
	
	<ul class="nav navbar-nav">
		<li><a href="/books">Books</a></li>
	</ul>

	<ul class="nav navbar-nav">
		<li><a href="https://github.com/willia4/bookclub/issues">Report a Bug</a></li>
	</ul>

	<ul class="nav navbar-nav">
		<li><a href="/colophon">Colophon</a></li>
	</ul>

	<% if @session_state[:logged_in] %>
		<ul class="nav navbar-nav navbar-right">
			<li class="dropdown" id="nav-signin-dropdown">
				<a class="dropdown-toggle" href="#" data-toggle="dropdown">
					<img class="avatar" src="<%= @session_state[:user_profile].avatar_url %>"></img>
					<%= @session_state[:user_profile].full_name %></a>
				<div class="dropdown-menu">
					<a id="button-signout" href="/signout">Sign out</a>
				</div>
			</li>
		</ul>

	<% else %>
		<!--
		<ul class="nav navbar-nav navbar-right">
			<li class="dropdown" id="nav-signin-dropdown">
				<a class="dropdown-toggle" href="#" data-toggle="dropdown">Sign in</a>
				<div class="dropdown-menu">
					<a id="button-facebook-signin" href="/signin/facebook/begin"><img src="/images/facebook_signin.png"></img></a>
					<% #<a id="button-google-signin" href="#"><img src="/images/google_signin.png"></img></a> %>
				</div>
			</li>
		</ul>
		-->

		<ul class="nav navbar-nav navbar-right" id="nav-signin-dropdown">
			<li><a id="button-facebook-signin" href="/signin/facebook/begin"><img src="/images/facebook_signin.png"></img></a></li>
		</ul>
	<% end %>
	</div>
</nav>