<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<h1>Unconfirmed User</h1>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">You must be confirmed by an administrator before using this site.</div>
	</div>

	<div class="row">
		<div class="col-xs-12">The administrators have been notified of your registration and your confirmation is currently pending.</div>
	</div>
</div>