:aws:
  :sdb:
    :region: us-east-1
    :access_key: %YOUR ACCESS KEY HERE%
    :secret: %YOUR SECRET HERE%
    :domain_prefix: book_club_dev_
  :s3:
    :region: us-east-1
    :access_key: %YOUR ACCESS KEY HERE%
    :secret: %YOUR SECRET HERE%
    :bucket: %YOUR S3 BUCKET HERE%
:css:
  :css_path: ./public/stylesheets
  :scss_path: ./public/stylesheets/sass
:facebook:
  :app_id: %YOUR FACEBOOK APP ID HERE%
  :secret: %YOUR FACEBOOK SECRET HERE%
:goodreads:
  :api_key: %YOUR GOODREADS API KEY HERE%
:smtp:
  :server: %YOUR SMTP HOST HERE%
  :port: %YOUR SMTP PORT HERE%
  :username: %YOUR SMTP USERNAME HERE%
  :password: %YOUR SMTP PASSWORD HERE%
  :from_address: %YOUR FROM LINE HERE%
:redis:
  :server: 127.0.0.1
  :port: 6379
  :db: 0
:general:
  :site_name: BB Bookclub Dev
  :base_url: http://localhost:8080
  :login_cookie: "com.bbbookclub.dev.logintoken"
  :mode: DEV